
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "init";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.posts-list{
  a {
    &:hover {

    }
  }
  .img-crop {
    height: 150px;
  }
  h3{
    height: 50px;
    overflow: hidden;
    text-overflow: "...";
  }
}
